@include tablet {
    .iconos-nosotros {
        @include grid(3, 2rem);
    }
}

.icono {
    text-align: center;
    padding: 1rem;

    img {
        height: 10rem;
        width: 10rem;
        display: block;
        margin: 0 auto;
    }
    h3 {
        text-transform: uppercase;
    }
}